<?xml version='1.0' encoding='utf-8'?>
<plugin id="hk-aho-in-app-browser" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HKAHOInAppBrowser</name>
    <js-module name="HKAHOInAppBrowser" src="www/HKAHOInAppBrowser.js">
        <clobbers target="cordova.plugins.HKAHOInAppBrowser" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HKAHOInAppBrowser">
                <param name="android-package" value="hk.aho.inappbrowser.HKAHOInAppBrowser" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/HKAHOInAppBrowser.java" target-dir="src/hk-aho-in-app-browser/HKAHOInAppBrowser" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HKAHOInAppBrowser">
                <param name="ios-package" value="HKAHOInAppBrowser" />
            </feature>
        </config-file>
        <source-file src="src/ios/HKAHOInAppBrowser.m" />
    </platform>
</plugin>